

{% extends 'adminbase.html.twig' %}
{% block title %}Clients{% endblock %}
 {% block content %}
<body>
 
            <div class="main-content-inner">
                <div class="row">
                    <!-- Dark table start -->
                    <div class="col-12 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title">Liste des clients</h4>
                                <div class="data-tables datatable-dark">
                                    <table id="dataTable3" class="text-center">
                                        <thead class="text-capitalize">
                                            <tr>
                                                <th >
                                                Name
                                                </th>
                                                <th>Prenom</th>
                                                <th>cin</th>
                                               <!--   <th>Date de naissance</th>-->
                                            <th>Age</th>
                                                <th>Numéro de permis</th>
                                                <th >
                                                Ville
                                                </th>
                                                <th>Numéro tel</th>
                                                <th>Email</th>
                                                <th>Etat</th>
                                               
                                                
                                            </tr>
                                        </thead>
                                         
                                           <tbody>
                                           
               {% for utilisateur in utilisateurs %}
               <form action="{{ path('EnableOrdisable',{'id':utilisateur.id}) }}" method="post" class='login100-form'>
            <tr>
                <td>{{ utilisateur.nom }}</td>
                 <td>{{ utilisateur.prenom }}</td>
                   <td>{{ utilisateur.cin }}</td>
                  <!--   <td>{{ utilisateur.getDateNaiss()|date('Y-m-d')  }}</td>-->
                <td>{{ utilisateur.age }}</td>
                   <td>{{ utilisateur.getNumPermis() }}</td>
                   <td>{{ utilisateur.ville }}</td>
                   <td>{{ utilisateur.getNumTel() }}</td>
                   <td>{{ utilisateur.login }}</td>
                   <td>{{ utilisateur.etat }}</td>
                   <td><select name="etat" id="Etat">            
  <option value="Activé">Activé</option>
  <option value="Bloqué">Bloqué</option>
</select></td>
 <td>             	
<button type="submit">modifier</button></td>

                    <td>
            <a href="#" class="text-danger" data-toggle="modal" data-target="#deleteModal-{{ utilisateur.id }}">
                <i class="ti-trash"></i>
            </a>
            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal-{{ utilisateur.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Warning-Alert!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p> Vous voulez Vraiment supprimer l'utilisateur  {{ utilisateur.login }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                            <a href="{{ path('user_delete', {'id': utilisateur.id}) }}" type="button" class="btn btn-danger">Oui</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Delete Modal -->
        </td>
            </tr>
            
 </form>
            {% endfor %}
           
        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Dark table end -->
                </div>
            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
      
    <!-- offset area end -->
  
</body>
{% endblock %}
