    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
                {% for utilisateur in utilisateurs %}
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ utilisateur.cin }}</td>
            </tr>
                 <tr>
                <th>Date de naissance</th>
                <td>{{ utilisateur.date_naiss|date('Y-m-d')  }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ utilisateur.age }}</td>
            </tr>
            <tr>
                <th>NumPermis</th>
                <td>{{ utilisateur.num_permis }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ utilisateur.ville }}</td>
            </tr>
            <tr>
                <th>NumTel</th>
                <td>{{ utilisateur.num_tel }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ utilisateur.login }}</td>
            </tr>
            <tr>
                <td>   <form method="post" action="{{ path('user_delete', {'id': utilisateur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
    <button class="btn">Delete</button>
</form>
</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

   