{% extends 'base.html.twig' %}


{% block title %}Hello!{% endblock %}

{% block body %}
<div class="container">
 <h2>les  Accidents </h2>
               



           </div>
           <div class="container">

                                    <div class="table-responsive">
                                    <div class="table-wrapper">
                                        <table class="table text-center">
                                        <div class="table-title">
					                  
							             
						                 </div>
                                         
                                             <thead class="text-uppercase bg-warning">
                                                <tr class="text-white">
                                                    <th >ID</th>
                                                    <th>type</th>
                                                   <th >date</th>
                                                    <th>description</th>
                                                    <th >lieu</th>
                                                    <th >Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for accidents in list %}
                                                <tr>
                                                     <td>{{ accidents.id }}</td>
                                                    <td>{{ accidents.type }}</td>
                                                    
                                                    <td>{{ accidents.date | date('Y-m-d H:i:s') }}</td>
                                                    <td>{{ accidents.description }}</td>
                                                    <td>{{ accidents.lieu }}</td>
                                                <td>
                                                <a class="ti-trash" class="btn btn-danger" href="#" data-toggle="modal" data-target="#confirm-delete-modal" data-id="{{ accidents.id }}">Delete</a>
                                                
                                                </td>
                                                </tr>
                                                    {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                                
                            </div>
           
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
</div>           
                        <a href="{{ path('app_gestion_accident') }}" class="btn btn-primary">Add Accident</a>
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            // Handle click event on delete button
            $('#confirm-delete-modal').on('show.bs.modal', function(e) {
                var id = $(e.relatedTarget).data('id');
                $('#delete-accident-id').val(id);
                $(this).find('.btn-danger').attr('form', 'delete-form-' + id);
            });

            // Submit the form when the delete button in the modal is clicked
            $('.btn-danger').click(function() {
                $(this).parents('form').submit();
            });
        });
    </script>
{% endblock %}

{% endblock %}
